{
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php", "*.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
